/*
 *= require shared
 *= require_self
*/

a { text-decoration: none; color: #000; }
a:hover { color: #d7412c; }

body {
  font-family: arial, san-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #006644 !important;
  text-align:center;
}

.button {
  font-size: 11px;
  display: inline-block;
  padding: 3px 5px 3px;
  text-decoration: none;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  box-shadow: 1px 1px 0px #FFF;
  -moz-box-shadow: 1px 1px 0px #FFF;
  -webkit-box-shadow: 1px 1px 0px #FFF;

  text-shadow: 1px 1px 1px #FFF;
  font-weight: bold;
  border: 1px solid #cccccc;
  position: relative;
  cursor: pointer;
  color: #666;
  background-image: -moz-linear-gradient(center top, #f0f0f0, #d9d9d9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#d9d9d9));

  -pie-background: linear-gradient(center top, #f0f0f0, #d9d9d9);
}

.button:hover  {
  background-image: -moz-linear-gradient(center top, #d9d9d9, #f0f0f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#f0f0f0));
  -pie-background: linear-gradient(center top, #d9d9d9, #f0f0f0);
}

.button:active { top: 1px; }

div#show {
  background:#009900;
  border:#DDD solid 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 15% auto;
  width: 600px;
  height: 150px;
}

.content {
  margin: 0 auto;
  width: 1000px;
  overflow: auto;
}

.content_ {
  border: 2px solid #E4E1E4;
  background: #E4E4E4;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0px auto;
  width: 1000px;
  overflow: auto;
}

input, select { line-height: 20px; }

input.title {
  width: 98%;
}

label {
  font-weight: bold;
  color: #fff;
}

/* pagination */

.pagination {
  margin-bottom: 20px;
  text-align: left;
}

.pagination a, .pagination span, .pagination em {
  padding: .3em .5em;
  display: block;
  float: left;
  margin-right: 3px;

  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #cccccc;
  position: relative;
  cursor: pointer;
  color: #666;
  background-image: -moz-linear-gradient(center top, #f0f0f0, #d9d9d9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#d9d9d9));
  -pie-background: linear-gradient(center top, #f0f0f0, #d9d9d9);

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-weight: bold;

  behavior: url(/javascripts/vendor/PIE.htc);
}

.pagination span.disabled {
  color: #929292;
  border: 1px solid #DDD;
  background:none;
}

.pagination em {
  color: #FFF;
  text-shadow: 1px 1px 1px #0082AF;
  border: 1px solid #0082AF;
  background-image: -moz-linear-gradient(center top, #00B2D2, #0082AF);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00B2D2), to(#0082AF));
  -pie-background: linear-gradient(center top, #00B2D2, #0082AF);
  behavior: url(/javascripts/vendor/PIE.htc);
}

.pagination a {
  text-decoration: none;
  color: #666;
  border: 1px solid #DDD;
}

.pagination a:hover, .pagination a:focus {
  background-image: -moz-linear-gradient(center top, #d9d9d9, #f0f0f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#f0f0f0));
  -pie-background: linear-gradient(center top, #d9d9d9, #f0f0f0);
  behavior: url(/javascripts/vendor/PIE.htc);
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.table_search {
  width: 800px;
}

.table_search_data {
  height: 110px;
  margin: 4px  ;
  text-align: left;
  width: 580px;
  overflow: auto;
}

.table_search_value {
  height: 50px;
  margin: 31px 4px;
  text-align: center;
  vertical-align: center;
  width: 180px;
}

textarea, input[type="text"], input[type="password"], select {
  background: white url(/images/input_bg.gif) repeat-x 50% 0%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  font-size: 15px;
  behavior: url(/javascripts/vendor/PIE.htc);
}

textarea, input, select {
  margin: 1px;
  padding: 3px;
}

textarea { width: 98%; }

ul.list  { list-style: none; }
.list li { padding: 7px; }

ul.list li.header{
  border: 1px solid #E4E4E4;
  height: 37px;
  line-height: 37px;
  border-right: 1px solid #E4E4E4;
  color: #8A8A8A;
  margin: 0px;
  padding: 0px;
  text-shadow: white 0px 1px 1px;
  padding: 0 5px 0 8px;
  font-size:12px;
  background-image: -moz-linear-gradient(center top, #FDFDFD, #ECECEC);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#ECECEC));
  -pie-background: linear-gradient(center top, #FDFDFD, #ECECEC);
  behavior: url(/javascripts/vendor/PIE.htc);
}

ul.main_freight {
  float: left;
  width: 210px;
  height: auto;
}

ul.main_search {
  float: left;
  text-align: center;
  width: 390px;
  height: 100px;
  margin: 30px 0px 0px 0px;
}